/* SOLO ESTILOS VISUALES*/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.5;
    color: #333;
}


#header-overlay{
    background: rgba(138,136,146,0.25);
}

#header-content{
    color: aliceblue;
    height: auto;
}

#eslogan {
    font-size: 1rem;
    font-style: italic;
}

#textologo{
    font-weight: bold;
}

img{
    filter: brightness(0) invert(1);
}


#BUSCADOR {
    border-radius: 40px;
    background:white;
    width: 600px;
    height: 40px;  
}

#buscador_p{
    width: 600px;
    padding: 10px;
    border:0;
    outline: none;
}

.fa fa-search{
    color: black;
}
