/* SOLO ESTILOS VISUALES*/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    line-height: 1.5;
    color: #333;
}


#header-overlay{
    background: rgba(138,136,146,0.25);
}

#header-content{
    color: aliceblue;
    height: auto;
}

#eslogan {
    font-size: 1rem;
    font-style: italic;
}

#textologo{
    font-weight: bold;
}

img{
    filter: brightness(0) invert(1);
}


#BUSCADOR {
    #BUSCADOR {
    border-radius: 40px;
    background: white;
    width: 100%; 
    max-width: 500px; 
    height: 40px;  
    overflow: hidden;
}
    
}

#buscador_p{
    border-radius: 40px;
    background: white;
    width: 600px;
    height: 40px;  
    padding: 10px;
    border: 0;
    outline: none;
}


