

*{
    box-sizing: border-box;
}

body{
margin: 0;
line-height: 1.5;
color: #333;
overflow: hidden;
}

header{
    height: 100vh;
    align-items: flex-start;
    color: aliceblue;
    padding-top: 5rem ;

}

#header-video{
    width: 100%;
    height: 100vh;
    z-index: 0;
}
#header-video video{
    min-width: 100%;
    min-height: 100%;
}

/* ---*/

.content {
    max-width: 49rem;
    padding-left: 1rem ;
    padding-right: 1rem ;
    margin: auto;
    text-align: center;
}

#header-overlay{
    height: 100vh;
    width: 100vw;
    background: rgba(138,136,146,0.25);
    z-index: 1;
}

#encabezado{
    z-index: 2;
}

#eslogan {
    font-size: 1rem;
    font-style: italic;
}

#textologo{
    font-weight: bold;
    
}

img{
    filter: brightness(0) invert(1) ;
}

